<a href="https://colab.research.google.com/github/MadhurimaPaul-87/Python-Data-Analysis-and-Visualization-Bootcamp/blob/main/Reindexing_in_pandas_series_and_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
s1= pd.Series([1,2,3,4],index=['a','b','c','d'])
print(s1)

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
s1=s1.reindex(['a','b','c','d','e','f'])
print(s1)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
f    NaN
dtype: float64

In [ ]:
#reindex() method with fill_value
s1=s1.reindex(['a','b','c','d','e','f','g'],fill_value=100)
print(s1)

a      1.0
b      2.0
c      3.0
d      4.0
e      NaN
f      NaN
g    100.0
dtype: float64

In [ ]:
#reindexing in series-forward fill
cars= pd.Series(['Audi','Mercedes','BMW'],index=[0,4,8])
print(cars)

0        Audi
4    Mercedes
8         BMW
dtype: object

In [ ]:
cars=cars.reindex(range(12),method="ffill")
cars

0         Audi
1         Audi
2         Audi
3         Audi
4     Mercedes
5     Mercedes
6     Mercedes
7     Mercedes
8          BMW
9          BMW
10         BMW
11         BMW
dtype: object

In [ ]:
#Reindexing in DataFrame
df1 = pd.DataFrame(np.random.randn(25).reshape(5,5),index=['a','b','c','d','e'],columns=['c1','c2','c3','c4','c5'])
df1

         c1        c2        c3        c4        c5
a -0.122855 -1.212810  1.134522  0.789319 -0.571235
b -0.493285 -0.306371  0.395247  1.949834  0.992984
c  0.666571  0.622809 -0.953037  0.726614  0.670585
d -0.305919  1.272433 -0.596674  1.414731 -1.103659
e  1.589121  1.463060  0.770818  0.039862 -1.914888

In [ ]:
df1=df1.reindex(index=['a','b','c','d','e','f'],columns=['c1','c2','c3','c4','c5','c6'])
df1

         c1        c2        c3        c4        c5  c6
a -0.122855 -1.212810  1.134522  0.789319 -0.571235 NaN
b -0.493285 -0.306371  0.395247  1.949834  0.992984 NaN
c  0.666571  0.622809 -0.953037  0.726614  0.670585 NaN
d -0.305919  1.272433 -0.596674  1.414731 -1.103659 NaN
e  1.589121  1.463060  0.770818  0.039862 -1.914888 NaN
f       NaN       NaN       NaN       NaN       NaN NaN